<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SkBDI main hub</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="box">
        <header>
            <h1>SkBDI</h1>
            <a href="profil.html"><i class="fa-solid fa-user"></i></a>
        </header>
        <main>
            <div class="mbox">
                <div class="mboxchild">
                    <div class="mheader">
                        <a href="#"><i class="fa-solid fa-comments"></i></a>
                    </div>
                    <div class="mlabel">
                        <div class="mlabelchild">
                            <p>Wiadomosci prywatne</p>
                        </div>
                    </div>
                </div>
                <div class="mboxchild">
                    <div class="mheader">
                        <a href="#"><i class="fa-solid fa-book"></i></a>
                    </div>
                    <div class="mlabel">
                        <div class="mlabelchild">
                            <p>Oceny</p>
                        </div>
                    </div>
                </div>
                <div class="mboxchild">
                    <div class="mheader">
                        <a href="#"><i class="fa-solid fa-user-clock"></i></a>
                    </div>
                    <div class="mlabel">
                        <div class="mlabelchild">
                            <p>Frekwencja</p>
                        </div>
                    </div>
                </div>
                <div class="mboxchild">
                    <div class="mheader">
                       <a href="#"><i class="fa-solid fa-calendar-days"></i></a>
                    </div>
                    <div class="mlabel">
                        <div class="mlabelchild">
                            <p>Plan lekcji</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>Brought to you by SkBDI INC.</p>
            <span class="fterLine"></span>
            <img src="img/logodziennik.png" alt="logo">
        </footer> 
    </div>
</body>
</html>